.font {
	font: 0.8em Arial, Verdana;
	color: #666;
}

#siderFix {
	width: 30px;
	height: 348px;
	position: fixed;
	left: 30px;
	top: 50%;
	margin-top: -174px;
	text-align: center;
	font-size: 0.9em;
}

#siderFix a:hover {
	color: #fff;
	background-color: #C81623;
}

#siderFix a {
	display: block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px dashed #CCCCCC;
}


/*头部*/

a:hover {
	color: #C81623;
	text-decoration: none;
}

.red {
	color: #C81623;
}

#header {
	width: 100%;
	height: 30px;
	background-color: #f1f1f1;
}

#header img {
	vertical-align: text-top;
	padding: 0 4px;
}

.inMid {
	width: 1212px;
	margin: 0 auto;
}

.headLeft,
.headRight {
	height: 100%;
	line-height: 30px;
	text-indent: 10px;
}

.headLeft {
	width: 100px;
	float: left;
	position: relative;
	border-left: 1px solid #F1F1F1;
	border-right: 1px solid #F1F1F1;
}

.headLeft:hover {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}

.headLeft:hover li>img,
.headRight li:hover>img {
	transform: rotate(180deg);
}

.headLeft p {
	width: 120px;
}

#header li>img {
	width: 10px;
	position: relative;
	top: 3px;
}

.headLeft i {
	position: absolute;
	top: -1px;
	left: 0;
	display: block;
	height: 1px;
	width: 100px;
	background-color: #fff;
}

.headLeft-div {
	display: none;
	position: absolute;
	top: 30px;
	left: -1px;
	width: 300px;
	padding: 10px 10px 10px 0px;
	border: 1px solid #ccc;
	background-color: #fff;
	z-index: 99;
}

.headLeft-div span a {
	display: inline-block;
	line-height: 24px;
	padding-right: 8px;
	text-align: left;
}

.headLeft-div a:hover {
	background-color: #eee;
	color: #B1191A;
}

.headLeft-div span {
	display: block;
	float: left;
	height: 24px;
	width: 60px;
	margin: 2px 0;
}

.headRight {
	width: 800px;
	float: right;
}

.headRight li {
	position: relative;
}

.myJingdong {
	width: 85px;
	padding: 0;
	border-left: 1px solid #F1F1F1;
	border-right: 1px solid #F1F1F1;
}

.headLeft p>img,
.myJingdong p>img {
	position: relative;
	width: 10px;
	top: 3px;
}

.headLeft:hover p>img,
.myJingdong:hover p>img {
	transform: rotate(180deg);
}

.myJingdong:hover {
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	background-color: #fff;
}

.myJingdong:hover {}

.myJingdong-1 {
	display: none;
	position: absolute;
	top: 30px;
	width: 280px;
	height: 190px;
	background-color: #fff;
	border: 1px solid #ccc;
	left: -1px;
	z-index: 999;
}

.myJingdong-1 img {
	width: 60px;
	border-radius: 40px;
	margin-left: 10px;
}

.myJingdong-1 p {
	width: 190px;
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 10px;
	border: 0;
}

.myJingdong-1 p:hover {
	border: 0;
}

.myJingdong-1>div {
	margin-bottom: 15px;
}

.myJingdong-1 span {
	display: block;
	width: 100px;
	height: 10px;
	line-height: 10px;
	padding-top: 10px;
}

.myJingdong-1 div i {
	display: inline-block;
	width: 1px;
	height: 12px;
	position: relative;
	top: 2px;
	background-color: #111;
	margin: 0 10px;
}

.myJingdong-1>i {
	position: absolute;
	width: 93px;
	height: 1px;
	background-color: #fff;
	top: -1px;
}

.myJingdong-1 li {
	width: 130px;
	line-height: 24px;
}

.headRight li {
	float: left;
	padding: 0 4px;
}

.phoneJingdong i {
	background: url(../img/icon22.png) left top no-repeat;
}


/*搜索 logo 购物车*/

#searchbar {
	height: 100px;
	width: 100%;
	background: url(../img/logo-京东.png) left center no-repeat;
	position: relative;
}

.search {
	width: 538px;
	padding: 25px 0;
	margin: 0 auto;
}

.searchTop {
	width: 100%;
	border: 2px solid #C81623;
}

.searchTop input {
	height: 32px;
	border: 0;
	color: #fff;
}

.searchBotText {
	width: 454px;
}

.searchBotBt {
	width: 79px;
	background-color: #C81623;
}

.searchBot dd {
	float: left;
	padding: 5px 5px;
}

.shopCar {
	width: 140px;
	height: 34px;
	line-height: 32px;
	text-align: center;
	border: 1px solid #DFDFDF;
	position: absolute;
	right: 80px;
	top: 28px;
	background: url(../img/shopCar、phone.png) #f9f9f9 14px -50px no-repeat;
}

.shopCar p {
	background: url(../img/-.png) right 8px center no-repeat;
	background-size: 10px;
	position: relative;
}

.shopCar i {
	position: absolute;
	font-style: normal;
	color: #fff;
	width: 14px;
	height: 14px;
	line-height: 14px;
	border-radius: 8px 8px 8px 0;
	top: -6px;
	right: 25px;
	background-color: #C81623;
}

.headImg img {
	width: 100%;
}


/*商品分类等*/

#mainBody {
	width: 1212px;
	margin: 0 auto;
	position: relative;
}

.mainBodyTop {
	width: 100%;
	height: 45px;
	border-bottom: 2px solid #C81623;
	line-height: 45px;
	font-family: "Microsoft YaHei", tahoma, arial, "Hiragino Sans GB", "\5b8b\4f53", sans-serif;
	font-size: 16px;
}

.mBTTOP dd {
	display: inline-block;
}

.mBTTOP img {
	position: absolute;
	top: -10px;
	right: 60px;
}

.allShop {
	width: 210px;
	background-color: #b1191a;
}

.allShop a {
	color: #fff;
	padding: 0 10px;
	font-size: 0.96em;
}

.allShopNav {
	position: absolute;
	height: 466px;
	left: 0px;
	top: 47px;
	font-size: 0.9em;
	background-color: #c81623;
	width: 210px;
}

.allShopNav li {
	height: 31px;
	line-height: 32px;
	border-left: 1px solid #B1191A;
	background: url(../img/arrow-right.png) right 10px center no-repeat;
	background-size: 8px;
	position: relative;
}

.allShopNav li:hover,
.allShopNav li:hover a {
	color: #C81623;
	background-color: #f7f7f7;
}

.allShopNav a {
	color: #fff;
	padding: 0 10px;
}

.allShopRight {
	padding: 0 20px;
}

.allShopRight dd {
	padding-right: 32px;
}


/*mBTBOT*/

.mBTBOT {
	width: 1000px;
	padding-left: 210px;
}

.today {
	width: 1000px;
	height: 150px;
	background: #fff;
	float: left;
	position: relative;
	overflow: hidden;
	z-index: 0;
}

.today div {
	width: 3012px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.today div img {
	margin-right: 1px;
}
.todayIntro{
	width: 210px;
	height: 150px;
	background: url(../img/旋转、文字、推荐.png) left bottom no-repeat;
}
.F1C,
.F2C {
	width: 438px;
	height: 315px;
	background: #fff;
	float: left;
	position: relative;
	overflow: hidden;
	z-index: 0;
}

.F4C,
.F3C,
.F5C {
	width: 439px;
	height: 235px;
	font-size: 0;
	background: #fff;
	float: left;
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
	z-index: 0;
}

.F1C div,
.F2C div,
.F3C div,
.F4C div,
.F5C div {
	width: 1756px;
	position: absolute;
	z-index: -1;
}

.Carousel {
	width: 730px;
	height: 454px;
	margin: 11px 10px 0 10px;
	float: left;
	position: relative;
	overflow: hidden;
	z-index: 0;
}

.Carousel div {
	position: absolute;
	width: 4800px;
	z-index: -1;
}
.today div img,
.F1C div img,
.F2C div img,
.F3C div img,
.F4C div img,
.F5C div img,
.Carousel div img {
	display: block;
	float: left;
}
.today span,
.F1C span,
.F2C span,
.F3C span,
.F4C span,
.F5C span,
.Carousel span {
	display: none;
	height: 60px;
	width: 30px;
	background: #000;
	opacity: 0.4;
	position: relative;
	top: 50%;
	margin-top: -30px;
	cursor: pointer;
}
.today span:first-child,
.F1C span:first-child,
.F2C span:first-child,
.F3C span:first-child,
.F4C span:first-child,
.F5C span:first-child,
.Carousel span:first-child {
	float: left;
}
.today span:last-child,
.F1C span:last-child,
.F2C span:last-child,
.F3C span:last-child,
.F4C span:last-child,
.F5C span:last-child,
.Carousel span:last-child {
	float: right;
}
.today span img,
.F1C span img,
.F2C span img,
.F3C span img,
.F4C span img,
.F5C span img,
.Carousel span img {
	width: 18px;
	margin: 20px 0 0 6px;
}

.F1C p,
.F2C p,
.F3C p,
.F4C p,
.F5C p,
.Carousel p {
	position: absolute;
	bottom: 10px;
	left: 45%;
	z-index: 1;
	width: 25%;
	height: 20px;
}
.Carousel i {
	display: block;
	float: left;
	width: 18px;
	height: 18px;
	margin: 0 2px;
	background-color: #333;
	border-radius: 9px;
	font-style: normal;
	font-size: 12px;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

.F1C i,
.F2C i,
.F3C i,
.F4C i,
.F5C i {
	display: block;
	float: left;
	width: 9px;
	height: 9px;
	margin: 0 2px;
	background-color: #333;
	border-radius: 5px;
	font-style: normal;
	font-size: 12px;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

.mBTBOTRight {
	float: left;
	width: 248px;
	margin: 11px 0 0 0;
}

.mBTBOTRight dl:first-child {
	border: 1px solid #e4e4e4;
}

.mBTBOTRight dl:first-child dt {
	height: 32px;
	border-bottom: 1px dotted #e4e4e4;
	font-size: 1.2em;
	padding-left: 15px;
	line-height: 32px;
}

.mBTBOTRight span {
	font-weight: bold;
	padding-right: 4px;
}

.mBTBOTRight dt a {
	position: relative;
	left: 110px;
	font-size: 0.8em;
	width: 40px;
	display: inline-block;
	background: url(../img/arrow-right2.png) right center no-repeat;
	background-size: 6px;
}

.mBTBOTRight dl:first-child dd {
	height: 26px;
	font-size: 0.8em;
	line-height: 26px;
	padding-left: 15px;
}

.iconhuafei {
	width: 100%-2px;
	border-right: 1px solid #E4E4E4;
	font-size: 0.8em;
}

.iconhuafei>dd {
	display: table;
	height: 70px;
}

.huafeiDL {
	display: table-row;
	height: 70px;
}

.huafeiDL dd {
	display: table-cell;
	width: 58px;
	height: 70px;
	border-left: 1px solid #E4E4E4;
	border-bottom: 1px solid #E4E4E4;
}

.huafeiDL a {
	display: block;
	position: relative;
	top: 40px;
}

.huafeiDL i {
	display: block;
	position: absolute;
	top: -30px;
	width: 25px;
	height: 25px;
	background: url(../img/iconcolor.png) top left no-repeat;
}

.iconImg {
	padding: 5px 0;
}


/*里约*/

.liyue {
	width: 1212px;
}

.liyue div {
	float: left;
}


/*猜你喜欢*/

.like {
	width: 1210px;
	height: 269px;
	margin-top: 30px;
}

.H2 {
	height: 30px;
	margin-top: 20px;
	line-height: 30px;
}

.H2 h2 {
	float: left;
	font-size: 1.5em;
}

.H2 span {
	float: right;
	font-size: 0.9em;
	display: inline-block;
	width: 60px;
	background: url(../img/旋转、文字、推荐.png) right -55px top 0px no-repeat;
}

.H2 span:hover {
	background-position-y: -24px;
	cursor: pointer;
}

.H2 span:hover a {
	color: #C81623;
}

.likeAAA {
	border: 1px solid #d1d1d1;
	height: 230px;
	margin-top: 8px;
}

.likeAll {
	font-size: 0.7em;
	padding-top: 20px;
}

.likeAll img {
	width: auto;
	display: block;
	margin: 0 auto;
}

.likeAll li {
	width: 200px;
	float: left;
}

.likeAllText {
	height: 60px;
	width: 201px;
	border-right: 1px solid #d1d1d1;
}

.likeAllText div {
	max-width: 150px;
	margin: 10px auto;
	line-height: 18px;
	text-align: left;
}

.likeAllText span {
	font-size: 18px;
	color: #C81623;
	display: block;
	margin-top: 5px;
}

.likeAllText i {
	font-size: 14px;
	font-style: normal;
}

.jingdongpm {
	height: 443px;
}

.pm {
	height: 407px;
	border: 1px solid #D1D1D1;
	overflow: hidden;
	float: left;
}

.pm:hover {
	cursor: pointer;
}

.pmM {
	width: 404px;
	overflow: hidden;
	background-color: #F7F7F7;
	position: relative;
	float: left;
}

.pmPara {
	position: absolute;
	left: 40px;
	top: 100px;
	font-size: 12px;
}

.pmPara i {
	font-size: 1.4em;
	font-weight: bold;
	font-style: normal;
	line-height: 40px;
}

.pmPara span {
	color: #C81623;
}

.pm1 h3 {
	width: 363px;
	height: 40px;
	text-align: center;
	font-weight: bold;
	font-family: "微软雅黑";
	font-size: 1.1em;
	line-height: 40px;
	margin: 0 auto;
	border-bottom: 1px dashed #D1D1D1;
}

.pm2 div {
	float: left;
	border: 1px solid #eee;
	border-left: 0;
	position: relative;
	font-size: 12px;
}

.pm2 p {
	position: absolute;
	left: 10px;
	top: 30px;
	font-size: 12px;
}

.pm2 i {
	font-size: 1.4em;
	font-weight: bold;
	font-style: normal;
	line-height: 40px;
}

.pm2 span {
	color: #C81623;
}

.pm222 {
	width: 228px;
	background-color: #fff;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.pm222 h3 {
	width: 188px;
}

.pmDaren {
	left: 10px;
}

.pmImg {
	float: left;
}

.pmImg01,
.pmImg02 {
	width: 74px;
	float: left;
	padding-left: 8px;
}

.pmImg01 {
	border-right: 1px dashed #D1D1D1;
}

.pmImg01 a,
.pmImg02 a {
	display: inline-block;
	height: 57px;
	width: 70px;
	border-bottom: 1px dashed #D1D1D1;
}

.imgInset {
	padding: 15px 0;
}

.imgInset img {
	float: left;
}


/*floor*/

#F1,
#F2,
#F3,
#house,
#F4,
#F5,
#Foot {
	width: 100%;
	margin: 10px 0 30px 0;
}


/*F1*/

.F1Head {
	width: 100%;
	height: 37px;
	border-bottom: 1px solid #C81623;
}

.F1HeadLeft {
	width: 200px;
	float: left;
}

.F1HeadLeft span {
	width: 31px;
	margin-right: 10px;
}

.F1HeadLeft h1 {
	font-size: 20px;
	display: inline-block;
}

.F1HeadRight {
	float: right;
}

.F1HeadRight ul {
	border: 1px solid #ddd;
	border-bottom: 0;
	font-size: 0px;
}

.F1HeadRight span {
	font-size: 0;
	display: block;
	position: absolute;
	top: 10px;
	right: -2px;
	height: 15px;
	width: 2px;
	background-color: #aaa;
}

.F1HeadRight li {
	font-size: 13px;
	text-align: center;
	padding: 0 14px;
	line-height: 34px;
	margin-top: 2px;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
	border-bottom: 0;
	display: inline-block;
	position: relative;
	top: -1px;
}

.F1HeadRight li:hover {
	margin: 0;
	border-top: 3px solid #C81623;
	border-left: 1px solid #C81623;
	border-right: 1px solid #C81623;
	border-bottom: 0;
}

.F1HeadRight li:hover span {
	background: rgba(0, 0, 0, 0);
}


/*F1Body*/

.F1BodyLeft {
	width: 330px;
	position: relative;
	float: left;
}

.F1BodyLeftTop {
	position: absolute;
	width: 100%;
	left: 0px;
	top: 254px;
}

.F1BodyLeftUl {
	padding-left: 30px;
	background: rgba(255, 255, 255, 0.6);
	overflow: hidden;
}
.F1BodyLeftUl li {
	float: left;
	width: 100px;
	height: 26px;
	padding: 10px 0;
}

.F1BodyLeftUl a {
	display: block;
	padding: 3px 0;
	text-align: center;
	background: url(../img/尚新装icon.png) left top no-repeat;
}

.F1BodyLeftUl2 {
	width: 310px;
	height: 104px;
	background: rgba(255, 255, 255, 0.7);
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 8px;
}

.F1BodyLeftUl2 li {
	float: left;
	padding: 4px 0;
	text-align: left;
	font-size: 12px;
	width: 145px;
	padding-right: 10px;
}

.F1BodyLeftUl2 a {
	padding: 0 5px;
}

.F1BodyRight {
	float: left;
}

.F1BodyRight-Left {
	width: 440px;
	float: left;
	overflow: hidden;
	font-size: 0;
}

.F1BodyRight-Right {
	float: left;
	width: 440px;
	position: relative;
}



.F1BodyRight-Right div,
.F1BodyRight-Left div,
.F1BodyLeftTop div {
	float: left;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	margin: 0;
	padding: 0;
	font-size: 0;
	overflow: hidden;
}
.F1BodyLeftTop div {
	border-bottom: 1px solid #ddd;
}
.smImg {
	display: block;
	position: absolute;
	left: 0px;
	bottom: 1px;
}

.F1foot {
	width: 100%;
	overflow: hidden;
	padding: 10px 0px;
	margin-top: 10px;
	background: #f7f7f7;
}

.F1foot ul {
	position: relative;
	left: 1px;
}

.F1foot li {
	float: left;
	padding: 0 10px;
	border-right: 1px dotted #CCCCCC;
}

.F3BodyLeft {
	position: absolute;
	left: 0px;
	top: 235px;
}

.F3BodyLeftULmid {
	width: 100%;
	height: 59px;
	padding-top: 10px;
	background: rgba(255, 255, 255, 0.7);
}

.F3BodyLeftULmid li {
	width: 125px;
	float: left;
	height: 20x;
	padding: 2px 0 2px 30px;
}

.F4BodyLeftmid {
	background: rgba(255, 255, 255, 0.5);
}

.F4BodyLeftmid li {
	width: 110px;
	padding-right: 40px;
}

.F4BodyLeftULmid {
	padding-top: 20px;
}

.F4BodyLeftULmid li {
	width: 130px;
	padding-left: 25px;
}

.F4BodyLeftUl2 {
	padding-top: 0px;
	padding-bottom: 11px;
}

.F5BodyLeftULmid {
	padding-top: 10px;
}

.F5BodyLeftUl2 {
	padding-bottom: 20px;
}


/*foot*/

#floors,
#likeHead {
	width: 1210px;
	margin: 0 auto;
	overflow: hidden;
}

#Foot {
	clear: both;
	width: 100%;
}

.foot1 {
	width: 100%;
	height: 94px;
	background-color: #F5F5F5;
}

.foot1-1,
.foot2 {
	width: 1210px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

.foot2 {
	padding-bottom: 40px;
	border-bottom: 1px solid #ccc;
}

.foot1-1 div {
	width: 300px;
	float: left;
}

.foot1 i {
	display: block;
	width: 220px;
	height: 54px;
	margin: 20px 10px;
}

.foot2-1UL {
	float: left;
}

.foot2-1UL>li {
	float: left;
	width: 199px;
	padding-top: 20px;
}

.foot2-1UL>li>a {
	font-size: 16px;
}

.foot2-1UL>li ul {
	padding-top: 5px;
}

.foot2-1UL>li ul a {
	font-size: 12px;
}

.foot2-2 {
	float: left;
	position: absolute;
	top: 0;
	right: 0;
	width: 230px;
	height: 168px;
	padding-top: 20px;
	padding-left: 80px;
	background: url(../img/Foot-icon.png) left 60px top -120px no-repeat;
}

.foot2-2 h4 {
	font-size: 16px;
	margin-bottom: 15px;
}

.foot2-2 p {
	font-size: 12px;
	width: 190px;
}

.foot2-2 span {
	font-size: 12px;
	display: block;
	float: right;
	padding-right: 35px;
}

.foot3 {
	font-size: 12px;
}

.foot3 div {
	width: auto;
	margin: 0 auto;
}

.foot3 p {
	text-align: center;
}

.foot3 span a {
	display: inline-block;
	height: 12px;
	margin: 5px;
	padding-right: 10px;
	line-height: 12px;
	border-right: 1px solid #777;
}

.foot3 span {}

.foot3-1 {
	padding: 20px 0 5px 0;
}

.foot3Img {
	padding-top: 10px;
	text-align: center;
}

.foot3Img img {
	padding: 0 5px;
}

.sideRight {
	position: fixed;
	right: 0;
	top: 0;
	width: 6px;
	height: 100%;
	background-color: #7a6e6e;
}

.sideRight dl {
	position: absolute;
	left: -28px;
	top: 40%;
}

.sideRight dd {
	width: 34px;
	height: 35px;
	background-color: #7a6e6e;
	margin-bottom: 1px;
	border-radius: 3px;
}


.siderDrop{
	position: absolute;
	left: 210px;
	top: 0;
	width: 1000px;
	z-index: 1;
	background-color: #f7f7f7;
	color: #111;
}
.siderDrop a{
	
}
